body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
}
#heading{
    width: 100%;
    text-align: center;
    font-size: 40px;
}
.orange-color{
    color: orange;
}
.flexible-container{
    display: flex;
    margin-bottom: 150px;
}
.first-page{
    width: 50%;
    padding-left: 5%;
}
.first-page img{
 width: 70%;
}
.button{
    text-decoration: none;
    background-color: tomato;
    padding: 10px 40px;
    color: white;
    font-weight: 700;
    border-radius: 5px;
}
.last-div{
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-position:right ;
    background-size: 300px;
}
.last-pic{
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-position:left;
    background-size: 300px;
}
.second{
    box-shadow: 10px 10px 40px gray;
    width: 50%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 50px;
    border-radius: 10px;
}
.Mission{
    background-image: url(images/illustrators/illustrator-1.png);
    background-repeat: no-repeat;
    display: flex;
    background-size: cover;
    padding-top: 20px;
}


footer p{
  text-align: center; 
  color: white; 
 } h3{
    text-align: center;
    color: tomato;
}
.last-section{
    background-color: black;
    width: 110;
}
